.main-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

#countdown{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: stretch;
}