body {
    background-color: #1E1E1E;
    color: #E0E0E0; /* Color del texto */
    font-family: Arial, sans-serif; /* Fuente similar */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

.main-container {
    display: flex;
    background-color: #2C2C2E;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 1200px; /* Ajuste de ancho máximo */
    text-align: center;
}

.content {
    flex: 1;
    margin-right: 20px; /* Espacio entre las dos secciones */
}

.history {
    width: 300px; /* Ajusta el ancho del historial */
    background-color: #333333;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.history h2 {
    margin-top: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    background-color: #444444;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

button {
    color: #FFFFFF; /* Color del texto del botón */
    background-color: #3A3A3C; /* Fondo del botón */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #4A4A4C; /* Fondo del botón al pasar el cursor */
}

video {
    border-radius: 10px;
    max-width: 100%;
    height: auto; /* Asegura que el video mantenga su proporción */
}
